:root {
  --pad: max(20px);
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0%;
  position: absolute;
  overflow: hidden;
  background-color: black;
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  position: fixed;
  left: var(--pad);
  top: var(--pad);
  right: var(--pad);
  bottom: var(--pad);
  display: block;
  border: 1px solid white;
}